body{
font-family: Arial;
background-color: #f4f4f4;
margin: 20px;
}

h1{
color: blue;
text-align:center;
}

form{
background: white;
padding: 20px;
border-radius: 10px;
}

input, textarea{
width: 100%;
padding: 10px;
margin-top: 5px;
}

button{
background: blue;
color: white;
padding: 10px;
border: none;
}